.bleu{color:blue}
.l{width:75%}
.hTitre{padding:10px;background-image:linear-gradient(to right,orange,white);border-bottom-left-radius:4px;border-top-left-radius:4px;}
body {font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:0.9em}
input{padding:2px;margin:2px;width:2em}
p{margin-bottom: 0.2em}
#journalisationImg{width:2em;height:2em;background-image: url(images/Minduka_Notebook.svg);background-repeat:no-repeat;background-size:100%;display:inline-block}
#elasticPrefsImg{width:2em;height:2em;background-image: url(images/map_compass.svg);background-repeat:no-repeat;background-size:100%;;display:inline-block}
#elasticStatsImg{width:2em;height:2em;background-image: url(images/Procman.svg);background-repeat:no-repeat;background-size:100%;;display:inline-block}
#webRTCImg{width:2em;height:2em;background-image: url(images/movieicon.svg);background-repeat:no-repeat;background-size:100%;;display:inline-block}
#rechercheDomaines{display:none}
#ajouter{display:none}
  #supprimer{display:none}


